In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'C:\\Users\\juanm\\OneDrive\\Escritorio\\pythonProject\\SQL---Coderhouse---Proyecto-Final\\Scripts_SQL'

In [3]:
os.chdir('..\\csvs\\normalizados')

In [4]:
categories = pd.read_csv('categories.csv')
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')
prices = pd.read_csv('prices.csv')

In [5]:
os.chdir('..\\..\\Scripts_SQL')

In [6]:
#INSERT TABLA CATEGORIES
# Definir la función que genera la cadena INSERT para cada fila
def generate_insert(row):
    # Obtener los valores de la fila
    id_categories = row["id_categories"]
    categories = row["categories"]
    
    # Generar la cadena INSERT
    query = f"INSERT INTO categories (id_categories, categories) VALUES ({id_categories}, '{categories}');\n"
    
    return query

# Iterar sobre las filas del DataFrame y generar las órdenes de inserción
insert_queries = ""
for index, row in categories.iterrows():
    insert_queries += generate_insert(row)

# Escribir las órdenes de inserción en un archivo .sql
with open("insert_categories.sql", "wb") as f:
    f.write(insert_queries.encode("utf-8"))

In [7]:
#INSERT TABLA BOOKS
# Definir la función que genera la cadena INSERT para cada fila
def generate_insert(row):
    # Obtener los valores de la fila
    id_book = int(row['id_book'])
    title = row["title"].replace("'", r"\'")
    authors = row['authors'].replace("'", r"\'")
    publisher = row["publisher"].replace("'", r"\'")
    published_year = row['published_year']
    id_categories = row["id_categories"]
    # Generar la cadena INSERT
    query = f"INSERT INTO books (id_book, title, authors, publisher, published_year, id_categories) VALUES ({id_book}, '{title}', '{authors}', '{publisher}', {published_year}, {id_categories});\n"

    
    return query

# Iterar sobre las filas del DataFrame y generar las órdenes de inserción
insert_queries = ""
for index, row in books.iterrows():
    insert_queries += generate_insert(row)

# Escribir las órdenes de inserción en un archivo .sql
with open("insert_books.sql", "wb") as f:
    f.write(insert_queries.encode("utf-8"))

In [8]:
#INSERT TABLA USERS
# Definir la función que genera la cadena INSERT para cada fila
def generate_insert(row):
    # Obtener los valores de la fila
    id_user = row["id_user"]
    profile_name = row["profile_name"]
    
    # Generar la cadena INSERT
    query = f"INSERT INTO users (id_user, profile_name) VALUES ({id_user}, '{profile_name}');\n"
    
    return query

# Iterar sobre las filas del DataFrame y generar las órdenes de inserción
insert_queries = ""
for index, row in users.iterrows():
    insert_queries += generate_insert(row)

# Escribir las órdenes de inserción en un archivo .sql
with open("insert_users.sql", "wb") as f:
    f.write(insert_queries.encode("utf-8"))

In [9]:
#INSERT TABLA RATINGS
# Definir la función que genera la cadena INSERT para cada fila
def generate_insert(row):
    # Obtener los valores de la fila
    id_user = int(row["id_user"])
    id_book = int(row["id_book"])
    score = int(row["score"])

    # Generar la cadena INSERT
    query = f"INSERT INTO ratings (id_user, id_book,score) VALUES ({id_user}, {id_book}, {score});\n"
    
    return query

# Iterar sobre las filas del DataFrame y generar las órdenes de inserción
insert_queries = ""
for index, row in ratings.iterrows():
    insert_queries += generate_insert(row)

# Escribir las órdenes de inserción en un archivo .sql
with open("insert_ratings.sql", "wb") as f:
    f.write(insert_queries.encode("utf-8"))

In [10]:
#INSERT TABLA PRICES
# Definir la función que genera la cadena INSERT para cada fila
def generate_insert(row):
    # Obtener los valores de la fila
    id_book = int(row["id_book"])
    price = row["price"]
    
    # Generar la cadena INSERT
    query = f"INSERT INTO prices (id_book, price) VALUES ({id_book}, {price});\n"
    
    return query


# Iterar sobre las filas del DataFrame y generar las órdenes de inserción
insert_queries = ""
for index, row in prices.iterrows():
    insert_queries += generate_insert(row)

# Escribir las órdenes de inserción en un archivo .sql
with open("insert_prices.sql", "wb") as f:
    f.write(insert_queries.encode("utf-8"))